* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    padding: 80px 50px;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.about {
    margin-top: 50px;
    width: 400px;
}

div.information {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 10px;
    font-size: 20px;
}