* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #1E1E1E;
}

section {
    padding: 50px 100px;
}

header {
    background-color: aqua;
    padding: 5px;
    text-align: center;
}

main {
    margin: 20px auto;
    max-width: 800px;
    padding: 4px;
}

h2 {
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

footer {
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}